html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

form {
  padding: 12px;
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  justify-content: center;
}

form input {
  width: 100%;
}

.game_grid {
  display: grid;
  gap: 15px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: 200px;
  place-content: center;
  width: 50%;
}

.game_grid div {
  border: 1px solid black;
  align-items: center;
  justify-content: stretch;
}

.input_div {
  width: 100%;
}

.pvc_selection {
  display: flex;
}

.pvp_selection {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

form > h2 {
  justify-self: end;
}

#mode {
  align-self: center;
}

form  button {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 6px;
  justify-self: center
}

button.active {
  color: white;
  background-color: black;
}

#mode_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

#start {
  grid-column: 2;
  width: 50%;
  border: 1px solid white;
  border-radius: 6px;
  padding: 8px;
  font-size: 1.1rem;
}

#restart {
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px;
  font-size: 1.1rem;
}

#congratulations {
  font-size: 1.3rem;
  font-weight: bold;
}