main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

form {
  padding: 12px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-content: center;
}

#game_grid {
  display: grid;
  gap: 15px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  height: 200px;
  place-content: center;
  width: 50%;
}

#game_grid div {
  border: 1px solid black;
  display: none;
  align-items: center;
  justify-content: center;
}

form input {
  width: 40%;
}

#pvc_selection {
  display: none;
  flex-direction: column;
  grid-column: span 2;
}

#pvp_selection {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

form > h2 {
  justify-self: end;
}

#mode {
  align-self: center;
}

form > button {
  border: none;
  padding: 8px;
  border-radius: 6px;
  width: 40%;
  justify-self: center
}

button#active {
  color: white;
  background-color: black;
}
